@charset "UTF-8";



@media screen and (min-width: 0px) {
.navbar
{
position: fixed;
top: 0px;
width: 100%;
height: 80px;
font-family: 'Open Sans', sans-serif;
font-size: 28px;
background-color: #242F33;
color: #ffffff;
z-index:2;
}
}

@media screen and (min-width: 0px) {
.list
{
display: none;
list-style: none;
margin-top: 20px;

}
}

@media screen and (min-width: 0px) {
.list> li
{
margin-left: 20px ;
height: 55px;
}
}

@media screen and (min-width: 0px) {
.list> li> a
{
 font-style: none;
 color: #fff;
  text-decoration: none;
}
}


@media screen and (min-width: 500px) {
.list
{
margin-left: auto;	
float: left;
display: block;
list-style: none;
margin-top: 20px;
}
}

@media screen and (min-width: 500px) {
.list> li
{
float: left;
margin-left: 20px ;
height: 55px;
}
}



.navbar .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 500px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    margin-right: 20px; 
    margin-top: 20px;
    color: #fff;
    position: absolute;
  }
}

.btn-info
{
	
cursor:pointer;
}
.btn-warning
{
	cursor:pointer; 
	color: #fff;
}

.btn-warning:hover
{
	color: #fff;
	margrin-top: 7px;
}

#urlVal2
{
	margin-right:18px;
}

.btn-warning
{
	margin-top:5px;	
}


