






.panel-admin-dashboard
{
	
margin-top:150px;
padding-right:100px;
padding-left:100px;	
font-size: 21px;
margin-bottom: 100px;	
	
}

.row-right
{
float: right;	
	
}

.box
{
	
border-bottom: solid 1px;	
margin-bottom: 20px;	
}

.buttony
{
margin-top:150px;	
padding-left: 100px;	
}