




.button-alpha {
	border-radius: 50%;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.button-beta
{
border-radius: 50%;
background-color: #F5CB0F;
border: none;
color: white;
padding: 8px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
margin-left: 5px;	
}
	
.btn
{
cursor: pointer;	
margin-left: 10px;
}

.stock-wage
{
margin-top: 5px;
margin-left: 4px;	
}

.stock-name
{
margin-top: 5px;	
}

.montage
{
	margin-top:40px;
}

.buttons
{
margin-bottom:20px;	
margin-left: -7px
}

#form2
{
	
margin-left:70px;	
}

#form
{
	
margin-left:70px;	
}

.main-text
{
margin-left:70px;	
font-size: 31px;	
margin-top: 100px;
}
