@charset "UTF-8";

.formtable
{
 width:400px; 
 padding: 10px;
 border: 1px solid blue;
}

input[type=text]
{
width: 250px;
margin-left: 10px;
}

textarea
{
width: 250px;
height: 300px;
margin-left: 10px;
}

.label
{
 text-align: right;
 vertical-align: top;
}

.control
{
 margin-left:10px;
}

.error
{
	font-size: small;
	color: red;
	margin-left: 10px;
}

table.offers
{
padding: 20px;
boreder: 1px solid gray;
}

p.error
{
	color:red;
}
