

body
{
	
}

.box
{
float:left;
width:33%;
font-size:18px;
padding-right:20px;
}

.center
{
margin-top:50px;
text-align:center;
margin-left:auto;
margin-right:auto;	
padding-left: 100px;
padding-right: 100px;
width:85%;
font-family: 'Lora', serif;
}

.indicators
{
	font-family: 'Lora', serif;
	margin-left:auto;
	margin-right:auto;
	width:85%;
	padding-left:50px;
	padding-right:50px;
	margin-top: 50px;
}

.chart
{

margin-left:auto;
margin-right:auto;
width:85%;
margin-top:150px;

	padding-right:70px;	
}

.svg-container
{
margin-left:auto;
margin-right:auto;
}

.Absolute
{
position: absolute;	
top:600px;	
width:100%;
margin-bottom: 100px;
}

.row-right
{
float: right;	
}

